{% extends 'base.html' %}

{% block head %}
<title>JUTR Attendance</title>
{% endblock %}

{% block body %}
<h1>Jutr Attendance</h1>

<script type=text/javascript>
        $(function() {
          $('a#test').on('click', function(e) {
            e.preventDefault()
            $.getJSON('/takepicture',
                function(data) {
              //do nothing
            });
            return false;
          });
        });
</script>
<form action="{{ url_for('register') }}" method="POST">
    <label for="Name">Enter Your Name:</label>
    <input type="text" name="Name"></input>
    <br>
    <label for="ID">Enter Your Student ID:</label>
    <input type="text" name="ID"></input>
    <select name="classes">
        <option value="ai">Intro to Artificial Intelligence</option>
        <option value="networking">Computer Networks</option>
        <option value="os">Operating Systems</option>
    </select>
    <img src="{{ url_for('video_feed') }}" width="50%" height="50%">
    <a href="#" id="test"><button type="button">Take picture</button></a>
    <input type="submit">Register!</input>
</form>
{% endblock %}