{% extends 'base.html' %}

{% block head %}
<title>JUTR Attendance</title>
{% endblock %}

{% block body %}
<div class="container-sm">
  <div class="jumbotron text-center bg-transparent text-white p-3 mb-5 rounded-12">
    <h1 style="font-size: 130px;">JUTR Attendance</h1>
    <p style="font-size: 40px;">Welcome to the Sign In</p>
  </div>
 
</div>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type=text/javascript>
        $(function() {
          $('a#scan').on('click', function(e) {
            e.preventDefault()
            $.getJSON('/scanface',
                function(data) {
              //do nothing
            });
            return false;
          });
        });
</script>
<script type=text/javascript>
    $(function() {
      $('#classSelect').on('change', function(e) {
        var classSelected= $('#classSelect').val();
        document.getElementById("imgWrapper").src = "{{ url_for('detection_feed') }}";
        document.getElementById("scan").hidden = false;
        {% set testing = 1 %}
        e.preventDefault()
        $.getJSON('/queryDB?'+classSelected,
            function(data) {
          //do nothing
        });
        return false;
      });
    });
</script>
  <script type=text/javascript>
    $(function() {
      $('a#scan').on('click', function(e) {
          setTimeout(() => {
                    $.ajax({
                    url: "/getMatch",
                    type: "get",
                success: function(response) {
                    if (response === "No Match Found"){
                        document.getElementById("noMatch").hidden=false;
                        document.getElementById("noMatch").innerHTML=response;
                        document.getElementById("FailureButton2").hidden=false;
                    }
                    else{
                        document.getElementById("matchFound").hidden=false;
                        document.getElementById("matchFound").innerHTML=response;
                        document.getElementById("SuccessButton").hidden=false;
                        document.getElementById("FailureButton").hidden=false;
                        var className = document.getElementById("classSelect").value;
                        document.getElementById("SuccessButton").href="confirmStudent?"+className+"?"+response
                    }
                
                },
                error: function(xhr) {
                //Do Something to handle error
                }             
            });
          }, 3000);
        
    });
    return false;
});
</script>
<p>{{message}}</p>
<div class="col-md-4 mb-3" style="position: absolute; bottom:47%; left: 15%;"">
<form method="GET">
    <select class="form-control" name="classes" id="classSelect">
        <option value="" selected disabled hidden>Choose the Class You Would Like to Sign Into</option>
        <option value="ai" class="classClick">Intro to Artificial Intelligence</option>
        <option value="networking" class="classClick">Computer Networks</option>
        <option value="os" class="classClick">Operating Systems</option>
    </select>
  </div>
  <div class="col-6 col-mb-4" style="position: absolute; left: 50%; top: 45%;">
        <img id="imgWrapper" width="60%" height="40%" style="border: 8px solid rgb(0, 144, 180);">
  </div>
    <div class="col-md-4 mb-3" style="left: 15%;">
        <a href="#" id="scan" hidden><button class="btn btn-dark" type="button">Scan Face</button></a>
    </div>    
    </div>
        <div id="matchWrapper">
            <p id="matchFound" hidden></p>
            <p id="noMatch" hidden></p>
            <a id="SuccessButton" hidden><button type="button">This is me, sign me in!</button></a>
            <a href="recognitionFail" id="FailureButton" hidden><button type="button">This is not me</button></a>
            <a href="recognitionFail" id="FailureButton2" hidden><button type="button">Retry</button></a>
        </div>
</form>
{% endblock %}