{% extends 'base.html' %}

{% block head %}
<title>JUTR Attendance</title>
{% endblock %}

{% block body %}

<p>{{message}}</p>

<div class="container-sm">
  <div class="jumbotron text-center bg-transparent text-white p-3 mb-5 rounded-12">
    <h1 style="font-size: 130px;">JUTR Attendance</h1>
    <p style="font-size: 50px;">Your class is only a click away</p>
  </div>
 
   
   
</div>
<a href="/class_registration" class="button" style="background: #76B3FA; border-radius: 100px;   padding: 20px 60px; color: #fff; text-decoration: none; font-size: 1.45em; margin: 0 15px; position: absolute; left: 30%; top: 75%;" >Register for a class!</a>
<a href="/class_sign_in" class="button" style="background: #D2D2D2; border-radius: 100px;   padding: 20px 60px; color: #fff; text-decoration: none; font-size: 1.45em; margin: 0 15px; position: absolute; left: 52%; top: 75%;">Sign in to a class!</a>
{% endblock %}